<!--
  Generated template for the DroneLockPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
 <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Issue coupon </ion-title>
 </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list  inset padding>
   <ion-item-divider class="roundedge">
             Create coupon, protected by PIN 
        </ion-item-divider>

        <ion-item>
            <ion-input type="text" [(ngModel)]="coupondata.couponname" placeholder="Enter coupon name "></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" [(ngModel)]="coupondata.couponbrand" placeholder="Enter coupon brand "></ion-input>
        </ion-item>
        <ion-item>
                    <ion-label>Coupon plan </ion-label>
                    <ion-select [(ngModel)]="coupondata.couponplanid">
                        <ion-option *ngFor="let todo of availablePlans"
                        value={{todo.planid}}
                        > {{todo.planname}} 
                        </ion-option>
                    </ion-select>
        </ion-item>
        <ion-item>
        <ion-label item-right> Plan-id : {{coupondata.couponplanid}} </ion-label>
        </ion-item>
        <ion-item-divider class="roundedge">
        Create coupon below
        </ion-item-divider>
        <ion-item>
            <ion-textarea type="text" [(ngModel)]="coupondata.couponid" placeholder="Coupon id"></ion-textarea>
            <button item-right ion-button class="colorbutton" (click)="createCouponId()" >Create coupon id</button>
        </ion-item>
        <ion-item>
            <ion-input type="number" [(ngModel)]="coupondata.couponpin" placeholder="Enter PIN "></ion-input>
            <button item-right ion-button class="colorbutton" (click)="createPIN()">Create PIN</button>
        </ion-item>
        <ion-item>
            <ion-input type="number" [(ngModel)]="coupondata.couponvalue" placeholder="Enter coupon amount"></ion-input>
            <button item-right ion-button class="colorbutton" (click)="checkFunds()">Check fund availability </button>
        </ion-item>

        <ion-item *ngIf="balance != ''">
           Balance: {{balance.balance}}
           unconfirmed_n_tx : {{ balance.unconfirmed_n_tx }}
           unconfirmed_balance : {{ balance.unconfirmed_balance }}

        </ion-item>
        <ion-item>

            <button item-left ion-button class="colorbutton" (click)="createCoupon()">Create coupon </button>
            <a item-right ion-button class="colorbutton" href="">Coupon download  
                    <ion-label><ion-icon name="download"></ion-icon></ion-label>
             </a>
        </ion-item>

        <ion-item>
            <button item-left ion-button class="colorbutton" (click)="activateCoupon()">Activate </button>
        </ion-item>
        <ion-item>
            <button item-left class="colorbutton" ion-button (click)="getCouponBalance">Verify balance in coupon </button>
        </ion-item>
   </ion-list>

</ion-content>
