<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Crypto Currency Wallet
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="refresh()">
                <ion-icon name="refresh"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons start>
            <button ion-button icon-only>
                <ion-icon name="power"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-segment [(ngModel)]="relationship" padding>
        <ion-segment-button class="colorbutton" value="dashcoin">
            DASHCOIN
        </ion-segment-button>
        <ion-segment-button class="colorbutton" value="bitcoin">
            BITCOIN
        </ion-segment-button>
    </ion-segment>
    <div class="padContent" [ngSwitch]="relationship">
        <ion-list *ngSwitchCase="'bitcoin'">
            <ion-item-divider class="roundedge">
                Balance : <span item-right>  10000 Bits </span>
            </ion-item-divider>
            <ion-item-divider class="roundedge">
                Send Bitcoin
            </ion-item-divider>

            <ion-card text-center >
                <ion-input   type="text" [(ngModel)]="sendaddress" placeholder="Enter address to send "></ion-input>
                <button item-right ion-button small (click)="pastestring()" class="colorbutton">Paste Address</button>
                <button item-right ion-button small (click)="saveexternaladdress()" class="colorbutton">Send</button>
            </ion-card>
            <ion-card text-center>
                <ion-card-title padding >
                <button ion-button small (click)="scan()" class="colorbutton">Scan QR-CODE to send</button>
                </ion-card-title>
                <ion-card-content *ngIf="sendqrcode != ''">
                    <qr-code id="qrcode" [(value)]="sendqrcode" [canvas]="true"></qr-code>
 {{sendqrcode}}
                </ion-card-content>
            </ion-card>
            <ion-item-divider class="roundedge">
                My address to Receive Bitcoin
            </ion-item-divider>
            <ion-card text-center>
                <ion-label text-wrap>
                 {{walletbalance.address}} 
                </ion-label>
                <button item-right ion-button small class="colorbutton" (click)="copyaddress()">Copy address</button>
            </ion-card>

            <ion-card text-center>
                <ion-card-title padding >
                    My QR-code to receive
                </ion-card-title>
                <ion-card-content>
                    <qr-code id="qrcode" [value]="receiveqrcode" [canvas]="true"></qr-code>
                </ion-card-content>
                <button item-right ion-button small class="colorbutton" (click)="copyaddress()">Copy address</button>
            </ion-card>


            <ion-item-divider class="roundedge">
                <p> Latest 3 sent transactions </p>
            </ion-item-divider>

            <div *ngIf="sentTransactions != ''">
                <ion-item-sliding *ngFor="let todo of sentTransactions; let i = index">
                    <ion-item *ngIf="i<2">
                        <ion-label text-wrap>Tx: {{todo.paymenttxid}}
                            <h3>Amount: {{todo.paymentvalue}} </h3>
                            <h3>To: {{todo.paymentaddress}} </h3>
                        </ion-label>
                        <button item-right ion-button class="colorbutton" (click)="viewpaymentmade(todo)">view</button>

                    </ion-item>

                </ion-item-sliding>
            </div>
            <ion-item *ngIf="sentTransactions == ''">
                <p> No sent transactions </p>
            </ion-item>
            <ion-item-divider class="roundedge">
                <p> Latest 3 received transactions </p>
            </ion-item-divider>
            <div *ngIf="receivedTransactions != ''">
                <ion-item-sliding *ngFor="let todo of receivedTransactions; let i = index">

                    <ion-item *ngIf="i<2">
                        <ion-label text-wrap>Tx: {{todo.paymenttxid}}
                            <h3>From: {{todo.paymentaddress}} </h3>
                            <h3>Total: {{todo.paymentvalue}} </h3>
                        </ion-label>
                        <button item-right ion-button class="colorbutton" (click)="viewpaymentreceived(todo)">view</button>

                    </ion-item>

                </ion-item-sliding>
            </div>
            <ion-item *ngIf="receivedTransactions == ''">
                <p> No received transactions </p>
            </ion-item>

        </ion-list>
    </div>

    <div class="padContent" [ngSwitch]="relationship">
        <ion-list *ngSwitchCase="'dashcoin'">

            <ion-item-divider class="roundedge">
                Balance : <span item-right>  10000 </span>
            </ion-item-divider>
            <ion-item-divider class="roundedge">
                Send Dashcoin
            </ion-item-divider>

            <ion-card text-center>
                <ion-input type="text" [(ngModel)]="sendaddress" placeholder="Enter address to send "></ion-input>
                <button item-right ion-button small (click)="pastestring()" class="colorbutton">Paste address</button>
                <button item-right ion-button small (click)="saveexternaladdress()" class="colorbutton">Send</button>
            </ion-card>
            <ion-card  text-center>>
                <ion-card-title padding>
                <button ion-button small (click)="scan()" class="colorbutton">Scan QR-CODE to send</button>
                </ion-card-title>
                <ion-card-content *ngIf="sendqrcode != ''">
                    <qr-code id="qrcode" [value]="sendqrcode" [canvas]="true"></qr-code>
                </ion-card-content>
            </ion-card>
            <ion-item-divider class="roundedge">
                My address to Receive Dashcoin
            </ion-item-divider>
            <ion-card text-center>
                <ion-label text-wrap>
                 {{walletbalance.address}} 
                </ion-label>
                <button item-right ion-button small class="colorbutton" (click)="copyaddress()">Copy address</button>


            </ion-card>

            <ion-card  text-center>
                <ion-card-title padding>
                    My QR-code to receive
                </ion-card-title>
                <ion-card-content>
                    <qr-code id="qrcode" [value]="sendqrcode" [canvas]="true"></qr-code>
                </ion-card-content>
                <button item-right ion-button small class="colorbutton" (click)="copyaddress()">Copy address</button>
            </ion-card>


            <ion-item-divider class="roundedge">
                Latest 3 sent transactions
            </ion-item-divider>

            <div *ngIf="sentTransactions != ''">
                <ion-item-sliding *ngFor="let todo of sentTransactions; let i = index">

                    <ion-item *ngIf="i<2">
                        <ion-label text-wrap>Tx: {{todo.paymenttxid}}
                            <h3>Amount: {{todo.paymentvalue}} </h3>
                            <h3>To: {{todo.paymentaddress}} </h3>
                        </ion-label>
                        <button item-right ion-button class="colorbutton" (click)="viewpaymentmade(todo)">view</button>

                    </ion-item>

                </ion-item-sliding>
            </div>
            <ion-item *ngIf="sentTransactions == ''">
                <p> No sent transactions </p>
            </ion-item>
            <div *ngIf="receivedTransactions != ''">
                <ion-item-sliding *ngFor="let todo of receivedTransactions; let i = index">

                    <ion-item *ngIf="i<2">
                        <ion-label text-wrap>Tx: {{todo.paymenttxid}}
                            <h3>From: {{todo.paymentaddress}} </h3>
                            <h3>Total: {{todo.paymentvalue}} </h3>
                        </ion-label>
                        <button item-right ion-button class="colorbutton" (click)="viewpaymentreceived(todo)">view</button>

                    </ion-item>

                </ion-item-sliding>
            </div>
            <ion-item-divider class="roundedge">
                Latest 3 received transactions
            </ion-item-divider>
            <ion-item *ngIf="receivedTransactions == ''">
                <p> No received transactions </p>
            </ion-item>

        </ion-list>
    </div>
</ion-content>
