<!--
  Generated template for the DroneLockPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Setup Wallet Recovery
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-segment [(ngModel)]="relationship" padding>
        <ion-segment-button class="segmentbutton" value="dashcoin">
            DASHCOIN
        </ion-segment-button>
        <ion-segment-button class="segmentbutton" value="bitcoin">
            BITCOIN
        </ion-segment-button>
    </ion-segment>
    <div class="padContent" [ngSwitch]="relationship">
        <ion-list *ngSwitchCase="'dashcoin'">

            <ion-item-divider class="roundedge">
                Dashcoin Wallet
            </ion-item-divider>

            <ion-card>
                <ion-label>Dashcoin Wallet address :
                    <h3> {{walletbalance.address}} </h3>
                </ion-label>
            </ion-card>



        </ion-list>
    </div>
    <div class="padContent" [ngSwitch]="relationship">
        <ion-list *ngSwitchCase="'bitcoin'">
            <ion-item-divider class="roundedge">
                Bitcoin Wallet
            </ion-item-divider>


            <ion-card>
                <ion-label>Bitcoin Wallet address :
                    <h3> {{walletbalance.address}} </h3>
                </ion-label>
            </ion-card>

        </ion-list>
    </div>



    <ion-list class="padContent">
 <ion-item-divider class="roundedge">
                Create wallet recovery
            </ion-item-divider>
            <ion-item>
                <button (click)="createPdf()" class="colorbutton" item-right ion-button> Generate recovery data </button>
                <span *ngIf="!(pdfurl == '')"> <a href={{pdfurl}}  class="colorbutton" item-right ion-button> PDF url </a> </span>
            </ion-item>
 <ion-item-divider class="roundedge">
                Wallet recovery data
            </ion-item-divider>
                <button (click)="downloadPdf()" [disabled]="!pdfObj" class="colorbutton" item-left ion-button> Download </button>
            <ion-item>
                <button (click)="sendEmail()" [disabled]="!pdfObj" class="colorbutton" item-right ion-button> Send by email </button>
            </ion-item>


        <!--ion-item>
            <ion-label > Select fees = {{ serverless.fees }}</ion-label>
                    <ion-select [(ngModel)]="serverless.fees">
                        <ion-option *ngFor="let todo of feeslevel"
                        value={{todo.levelfees}}
                        > {{todo.levelname}}
                        </ion-option>
        </ion-item -->


    </ion-list>

</ion-content>
